body{
    background-image: url("worch.jpg");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
    margin-top: 104px;
    margin-top:700px;
    margin-bottom:600px;
    color:white;
    font-size: 75px;
}


h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
h2{
    font-size: 50px;
    margin-top: 0%;
    margin-bottom: 20px;
}
button {
    border: none;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    font-weight: bold;
    width: 450px; 
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size:large;
}
#total-el{
    color:brown;
    font-size:20px;
}
#count-el{
    color:purple;
    font-size:20px;
}

#increament-btn {
    background: red;
    font-size:15px;
}

#save-btn {
    background: darkgreen;
}

#total-btn {
    background: yellowgreen;
}
